.--covid-blue {
  color: #4d5cf0;
}

.--covid-bg-blue {
  background-color: #4d5cf0;
}

.--covid-border-blue {
  border-color: #4d5cf0;
}

.--covid-orange {
  color: #ff7442;
}

.--covid-bg-orange {
  background-color: #ff7442;
}

.--covid-border-orange {
  border-color: #ff7442;
}

.--covid-orange {
  color: #ff7442;
}

.--covid-bg-orange {
  background-color: #ff7442;
}

.--covid-dark {
  color: #47495d;
}

.--covid-bg-dark {
  background-color: #47495d;
}

.--covid-bg-white {
  background-color: #ffffff !important;
}

.--covid-text {
  color: #47495d;
}

.--covid-dark-shadow {
  -webkit-box-shadow: 0px 0px 7px -1px #47495d;
          box-shadow: 0px 0px 7px -1px #47495d;
}
