@media only screen and (min-width:1920px){
    header{
        background-size: cover;
    }
    .navbar-brand{
        width: 300px;
    }
}

@media only screen and (max-width:1920px){
    .navbar-brand{
        width: 250px;
    }
}

@media only screen and (max-width:1440px){

    .navbar-brand{
        width: 175px;
    }

}

@media only screen and (max-width:1366px){

}

@media only screen and (max-width:1024px){

}

@media only screen and (max-width:768px){

}