/*********************************************************************
// Generic CSS
*********************************************************************/
.--covid-blue {
  color: #4d5cf0 !important;
}

.--covid-bg-blue {
  background-color: #4d5cf0 !important;
}

.--covid-border-blue {
  border-color: #4d5cf0 !important;
}

.--covid-orange {
  color: #ff7442 !important;
}

.--covid-bg-orange {
  background-color: #ff7442 !important;
}

.--covid-border-orange {
  border-color: #ff7442 !important;
}

.--covid-dark {
  color: #47495d !important;
}

.--covid-bg-dark {
  background-color: #47495d !important;
}

.--covid-border-dark {
  border-color: #47495d !important;
}

.--covid-light {
  color: #FAFAFE !important;
}

.--covid-bg-light {
  background-color: #FAFAFE !important;
}

.--covid-border-light {
  border-color: #FAFAFE !important;
}

.--covid-bg-white {
  background-color: #ffffff !important;
}

.--covid-text {
  color: #47495d !important;
}

.--covid-dark-shadow {
  -webkit-box-shadow: 0px 0px 7px -1px #47495d;
          box-shadow: 0px 0px 7px -1px #47495d;
}

.--border-radius-10 {
  border-radius: 10px;
}

.--border {
  border: 2px solid transparent;
}

.--border-1 {
  border: 1px solid !important;
}

/*********************************************************************
// Main CSS
*********************************************************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html,
body {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: roboto-regular;
}

body img {
  width: 100%;
}

header #nav {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
}

header .navbar li .nav-link {
  color: #ffffff !important;
}

header .navbar li.active {
  border-bottom: 2px solid #FAFAFE;
}

header .navbar li:nth-last-of-type(1) {
  margin-left: 10px;
}

header .navbar-light li .nav-link {
  color: #47495d !important;
}

header .navbar-light li.active {
  border-bottom: 2px solid #47495d;
}

header .navbar-light li:nth-last-of-type(1) {
  margin-left: 10px;
}

header .navbar-light li #contactButton {
  color: #FAFAFE !important;
}

.hero {
  background: url(../img/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .owl-nav {
  display: none;
}

.hero .owl-dots {
  margin-top: 20px;
}

.hero .owl-dots .owl-dot {
  background-color: #D3D3E1 !important;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
  outline: none;
}

.hero .owl-dots .owl-dot.active {
  background-color: #FACB39 !important;
}

.about {
  background: url(../img/about-section-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about .about__download__apk {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.about .about__download__apk:hover {
  background-color: #ff7442;
}

.about .about__download__apk:hover p {
  color: #ffffff !important;
}

.symptoms {
  background: url(../img/symptoms-section-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.symptoms .symptoms__list {
  list-style: none;
  padding: 0;
}

.symptoms .symptoms__list li {
  background: url(../img/tick.png) no-repeat left center;
  padding-left: 50px;
  /* the width of your image + some space */
  margin: 3px 0;
}

.disclaimer__inner {
  background-color: #FAFAFE;
  border-color: #D6D8E2 !important;
}

footer {
  height: 250px;
}

footer .footer__links li {
  margin: 0px 10px;
}

footer .footer__links li a {
  color: #ffffff;
}

@media only screen and (min-width: 1920px) {
  .hero {
    height: 1000px;
  }
}

@media only screen and (max-width: 1920px) {
  .hero {
    height: 700px;
  }
  .about {
    height: 700px;
  }
  .symptoms {
    height: 700px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar .nav-link {
    text-align: center;
  }
  .navbar .bar {
    display: none;
  }
  .hero .row h2 {
    margin: 0px !important;
  }
  .about {
    height: 100vh;
  }
  .symptoms {
    height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    height: auto !important;
    padding: 1rem;
  }
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer ul .footer__bar {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .hero {
    height: 1000px;
    background-position: center;
  }
}
